// Campaign category sub-hub. Story is locked; Map Editor lives here
// since it fits the "solo / content creation" bucket.

gameui_begin_ids

ui_gameui_campaign_dims = [0.55 0.08]

# ui_gameui_campaign = [
    local _w
    _w = $gameui_panel_new_size

    uivlist 0.022 [
        uistyle lefttop
        uistyle clampx

        uifill 0 0.04

        ui_waw_panel_title "CAMPAIGN" $_w

        uifill 0 0.012

        uivlist 0.002 [
            uialign -1 -1

            ui_waw_menurow [
                p_label  = "STORY"
                p_width  = $_w
                p_locked = 1
                p_badge  = "COMING SOON"
                p_id     = #(gameui_get_id waw_menurow)
            ]

            ui_waw_menurow [
                p_label    = "BOT SKIRMISH"
                p_width    = $_w
                p_on_click = [ gameui_open ui_gameui_maps ]
                p_id       = #(gameui_get_id waw_menurow)
            ]

            if (ismodelocked 2) [] [
                ui_waw_menurow [
                    p_label    = "MAP EDITOR"
                    p_width    = $_w
                    p_on_click = [ gameui_open ui_gameui_editor ]
                    p_id       = #(gameui_get_id waw_menurow)
                ]
            ]
        ]
    ]

    #(ui_gameui_backbutton)
]
