// Multiplayer category sub-hub. WaW-styled list, routes to existing
// screens via gameui_open.

gameui_begin_ids

ui_gameui_multiplayer_dims = [0.55 0.08]

# ui_gameui_multiplayer = [
    local _w
    _w = $gameui_panel_new_size

    uivlist 0.022 [
        uistyle lefttop
        uistyle clampx

        uifill 0 0.04

        ui_waw_panel_title "MULTIPLAYER" $_w

        uifill 0 0.012

        uivlist 0.002 [
            uialign -1 -1

            ui_waw_menurow [
                p_label    = "FIND MATCH"
                p_width    = $_w
                p_on_click = [ gameui_open ui_gameui_online ]
                p_id       = #(gameui_get_id waw_menurow)
            ]

            ui_waw_menurow [
                p_label    = "OFFLINE MATCH"
                p_width    = $_w
                p_on_click = [ gameui_open ui_gameui_maps ]
                p_id       = #(gameui_get_id waw_menurow)
            ]

            ui_waw_menurow [
                p_label    = "SOLDIER MANAGEMENT"
                p_width    = $_w
                p_on_click = [ gameui_open ui_gameui_player ]
                p_id       = #(gameui_get_id waw_menurow)
            ]

            if $isconnected [
                ui_waw_menurow [
                    p_label    = "VOTE MAP / MODE"
                    p_width    = $_w
                    p_on_click = [ gameui_open ui_gameui_vote ]
                    p_id       = #(gameui_get_id waw_menurow)
                ]

                ui_waw_menurow [
                    p_label    = "CHANGE TEAM"
                    p_width    = $_w
                    p_on_click = [ gameui_open ui_gameui_team ]
                    p_id       = #(gameui_get_id waw_menurow)
                ]
            ]
        ]
    ]

    #(ui_gameui_backbutton)
]
