// Zombies category sub-hub. Locked entries until mode is implemented.

gameui_begin_ids

ui_gameui_zombies_dims = [0.55 0.08]

# ui_gameui_zombies = [
    local _w
    _w = $gameui_panel_new_size

    uivlist 0.022 [
        uistyle lefttop
        uistyle clampx

        uifill 0 0.04

        ui_waw_panel_title "ZOMBIES" $_w

        uifill 0 0.012

        uivlist 0.002 [
            uialign -1 -1

            ui_waw_menurow [
                p_label  = "FIND MATCH"
                p_width  = $_w
                p_locked = 1
                p_badge  = "COMING SOON"
                p_id     = #(gameui_get_id waw_menurow)
            ]

            ui_waw_menurow [
                p_label  = "OFFLINE MATCH"
                p_width  = $_w
                p_locked = 1
                p_badge  = "COMING SOON"
                p_id     = #(gameui_get_id waw_menurow)
            ]

            ui_waw_menurow [
                p_label    = "SOLDIER MANAGEMENT"
                p_width    = $_w
                p_on_click = [ gameui_open ui_gameui_player ]
                p_id       = #(gameui_get_id waw_menurow)
            ]
        ]
    ]

    #(ui_gameui_backbutton)
]
